{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Entrees</h1>
    <div class="entrees">
        {% for entree in entrees %}
            <div class="entree">
                <h2>{{ entree.nom }} {{ entree.prenom }}</h2>
                {% for departement in entree.departements %}
                    <p>{{ departement.nom }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
